/* NAVBAR */

nav{
    /* display: flex;
    justify-content: space-between; */
    /* max-width: 390px; */
    width: 100%;
    height: 70px;
    background-color: #0084fd;
}

body img{
    width: 100%;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    
    height: 100%;
    margin: 0 15px;
    background-color: bisque;
}


#left-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    background-color: red;
}

#logo{
    width: 100%;

}

#right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 500px;
    background-color: red;
}

#nav-links{
    display: none;
    height: 100%;
    width: 50px;
    background-color: rgba(255, 255, 0, 0.411);
}

#nav-links ul{
    
    list-style-type: none;
}

/* /NAVBAR */

.centered-container{
    
    
    height: 100%;
    margin: 30px 15px 40px 15px;
}

/* FIRST SECTION */

.first-sect{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first-sect-cards{
    
    min-height: 300px;
    
    background-color: #b5ddff;
}

.first-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}



/* /FIRST SECTION */

/* SECOND SECTION */

.second-sect{
    background-color: #9792e4;
    min-height: 400px;
}

.second-sect .centered-container{
    border: 1px solid black;
    min-height: 400px;
}

.second-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 50px;
}
    
/* /SECOND SECTION */
